<%- include('../shared/head.ejs') %>
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/manager.css">
<link rel="stylesheet" href="/css/auth.css">
</head>
<body class="body">
<%- include('../shared/nav.ejs') %>
<main>
    <% if(errorMessage) { %>
        <div class="flash-message flash-message--error"><%= errorMessage %></div>
    <% } %>
    <div class="form-container">
        <h2><%= docTitle %></h2>
        <form id="login-form" class="add-item__form" method="POST" 
            action="/login">
            <label class="form__label" for="email">email</label>
            <input type="text" class="form__input <%= validationErrors.find(e => e.param === 'email') ? 'input--invalid' : '' %>" 
                name="email" value="<%= curInput.email %>" />
            <label class="form__label" for="price">password</label>
            <input type="text" class="form__input <%= validationErrors.find(e => e.param === 'password') ? 'input--invalid' : '' %>" 
                name="password" value="<%= curInput.password %>" />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn btn--submit" type="submit">Login</button>
        </form>
        <a class="password-reset__link" href="/password-reset">Reset Password</a>
    </div>
</main>

<%- include('../shared/end.ejs') %>