    <%- include('../shared/head.ejs') %>
    <link rel="stylesheet" href="/css/manager.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <%- include('../shared/nav.ejs') %>
    <main>
        <div class="form-container">
            <h2><%= docTitle %></h2>
            <form id="add-item-form" class="add-item-form" method="POST" 
                action="/manager/<% if(editing) { %>edit-ingredient<% } else { %>add-ingredient<% } %>">
                <label class="form__label" for="title">Title</label>
                <input type="text" class="form__input" name="title" 
                    <% if(editing) { %> value="<%= ingredient.title %>" <% } %>/>
                <label class="form__label" for="price">Price</label>
                <input type="number" step="0.01" class="form__input" name="price" 
                    <% if(editing) { %> value="<%= ingredient.price %>" <% } %>/>
                <label class="form__label" for="imagePath">Image Path</label>
                <input type="text" class="form__input" name="imagePath" 
                    <% if(editing) { %> value="<%= ingredient.imagePath %>" <% } %>/>
                <% if(editing) { %>
                    <input type="hidden" name="id" value="<%= ingredient._id %>" />
                <% } %>
                <button class="btn btn--submit" type="submit"><% if(editing) { %>Update <% } else { %>Add <% } %> Ingredient</button>
            </form>
        </div>
    </main>

<%- include('../shared/end.ejs') %>

    <!--<label class="form__label" for="description">Description</label>
    <textarea class="form__textarea" rows="5" name="description"></textarea>-->