    <%- include('../shared/head.ejs') %>
    <link rel="stylesheet" href="/css/manager.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body class="body">
    <%- include('../shared/nav.ejs') %>
    <main>
        <div class="form-container">
            <h2><%= docTitle %></h2>
            <form id="add-ingredient-form" class="add-item__form" method="POST" 
                action="/manager/<% if(editing) { %>edit-ingredient<% } else { %>add-ingredient<% } %>">
                <label class="form__label" for="title">Title</label>
                <input type="text" class="form__input" name="title" 
                    <% if(editing) { %> value="<%= ingredient.title %>" <% } %>/>
                <label class="form__label" for="price">Price</label>
                <input type="number" step="0.01" class="form__input" name="price" 
                    <% if(editing) { %> value="<%= ingredient.price %>" <% } %>/>
                <label class="form__label" for="imagePath">Image Path</label>
                <input type="text" class="form__input" name="imagePath" 
                    <% if(editing) { %> value="<%= ingredient.imagePath %>" <% } %>/>
                <% if(editing) { %>
                    <input type="hidden" name="id" value="<%= ingredient._id %>" />
                <% } %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn--submit" type="submit"><% if(editing) { %>Update <% } else { %>Add <% } %> Ingredient</button>
            </form>
        </div>
    </main>

<%- include('../shared/end.ejs') %>

<script>
    (function() {
        document.addEventListener('keydown', (e) => {
            if(e.key == 'Enter' && e.target.type !== 'submit') {
                e.preventDefault();
                return false;
            }
        });
    })();
</script>
