    <%- include('../shared/head.ejs') %>
    <link rel="stylesheet" href="/css/manager.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body class="body">
    <%- include('../shared/nav.ejs') %>
    <main>
        <% if(ingredients.length > 0)  { %>
            <div class="ingredients">
                <% ingredients.forEach(ing => { %>
                    <div class="container container--ing">
                        <div class="image-container image-container--ing">
                            <img class="ing__image" src="<%= ing.imagePath %>" alt="<%= ing.title %>">
                        </div>
                        <h3 class="container__title"><%= ing.title %></h3>
                        <p class="container__price">$<%= ing.price %></p>
                        <div class="btns__container">
                            <a class="btn btn--ing" href="/manager/edit-ingredient/<%= ing._id %>">Edit</a>
                            <form action="/manager/delete-ingredient" method="POST">
                                <input type="hidden" name="id" value="<%= ing._id %>" />
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="btn btn--ing">Delete</button>
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <h1>No ingredients yet!</h1>
        <% } %>
    </main>
<%- include('../shared/end.ejs') %>
