    <%- include('../shared/head.ejs') %>
    <link rel="stylesheet" href="/css/manager.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body class="body">
    <%- include('../shared/nav.ejs') %>
    <main>
        <% if(items.length > 0)  { %>
            <div class="items">
                <% items.forEach(item => { %>
                    <div class="container container--item">
                        <% if(item.foodCostPercentage > 35) { %>
                            <h3 class="alert-text">Food cost alert</h3>
                        <% } %>
                        <div class="image-container image-container--item">
                            <img class="item__image" src="<%= item.imagePath %>" alt="<%= item.title %>">
                        </div>
                        <h3 class="container__title"><%= item.title %></h3>
                        <p class="container__price">$<%= item.price %></p>
                        <ul class="container__recipe-list">
                            <% item.recipe?.forEach(rec => { %>
                                <li class="recipe-list__item"><%= rec.ingredient.title %> - <%= rec.qty %></li>
                            <% }) %>
                            </ul>
                        <div class="btns__container btns__container--item">
                            <a class="btn btn--item" href="/manager/edit-item/<%= item._id %>">Edit</a>
                            <form action="/manager/delete-item" method="POST">
                                <input type="hidden" name="id" value="<%= item._id %>" />
                                <button type="submit" class="btn btn--item">Delete</button>
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <h1>No items yet!</h1>
        <% } %>
    </main>
<%- include('../shared/end.ejs') %>
